@import "--media";


:root{
  --link-text: #b4b4b4;
  --heading: #efefef;
  --para: #efefef;
  --mute: #858585;
  --body-bg-color: #fff;
  --text-color: #212529;
  --para-color: #212121;
  --primary-color: #17BB6A;
  --secondary-color: #ffb84b;
  --header-bg-color: #fff;
  --header-border-color: #e7ebed;
  --heading-color: #374151;
  --sidebar-bg-color: rgba(218, 218, 218, 0.14);
  --white: #fff;
  --link-color: #00B7FF;

  font-size: 16px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


body {
  margin: 0;
  padding: 0;
  font-family: Calibri, sans-serif;
  background: var(--body-bg-color);
}

ul, li{margin: 0; padding: 0; list-style: none}


.card {
  padding: 2em;
  box-shadow: 0 2px 12px 0px rgb(128 128 128 / 29%);
  border-radius: 8px;
}

.read-the-docs {
  color: #888;
}

.header{
  background: linear-gradient(73deg, #6f80ff, #30ff79);
  //background: #8d8fff;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navigation{
  display: flex;
  align-items: center;
  justify-content: space-between;
  .logo{
    padding: 4px 0px;
    position: relative;
    z-index: 1;
    @include get_down(656px){
      padding: 8px 0px;
      svg{
        width: 110px !important;
      }
    }
    svg{
      width: 130px;
    }
  }
}

.container{
  max-width: 1200px;
  margin: auto;
  padding: 0 10px;
}

.main-nav{
  justify-content: end;
  display: flex;
  transition: transform .3s ease;
  &__expand{
    display: flex;
    transform: translateY(0) !important;
    opacity: 1!important;
    //transition: transform .3s ease;
    padding: 20px 0;
    .nav-item{
      padding: 15px 0 !important;
    }
  }
  @include get_down(676px){
    //display: none;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    align-items: center;
    background: #2c2c2c;
    width: 100%;
    box-shadow: 0 4px 10px 2px rgb(124 124 124 / 80%);
    transform: translateY(-110%);
  }

  .nav-item{
    position: relative;
    color: var(--white);
    text-transform: uppercase;
    list-style: none;
    font-weight: 500;
    padding: 5px 15px;
    &:hover{
      .dropdown-nav{
        transform: translateX(-50%) scaleY(1)
      }
    }
    a{
      color: #ffffff;
      font-size: 14px;
      display: inline-block;
    }
  }
}

.dropdown-nav{
  position: absolute;
  width: 250px;
  padding: 8px 10px;
  background: white;
  top: 35px;
  z-index: 100;
  left: 50%;
  transform: translateX(-50%) scaleY(0);
  box-shadow: 0px 4px 6px -2px rgb(70 70 70 / 47%);
  transition: all 0.2s ease;
  transform-origin: top;
  .item{
    a {
      color: #282828
    }
  }
}

.angle-down-icon{
  width: 10px;
  margin-left: 5px;
  fill: #ffffff;
}


.shown-icon-nav{
  display: block !important;
}

.extra-menu{
  column-gap: 10px;
  display: flex;
  align-items: center;
  margin-left: 10px;
  position: relative;
  z-index: 1000;
  .icon-item{
    display: none;
    cursor: pointer;
    svg{
      color: white;
      width: 20px;
    }
    .auth-avatar{
      img{
        width: 25px;
        border-radius: 100%;
      }
    }
  }

  .menu-bars-icon{
    @include get_down(676px){
      display: flex;
    }
    display: none;
    width: 22px;
    //position: absolute;
    //right: 18px;
    fill: var(--white);
    //bottom: 191px;
    z-index: 102103;
    //top: 20px;
  }
}

.spacer{
  height: 60px;
}


.btn{
  padding: 10px 20px;
  outline: none;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  background-image: linear-gradient(73deg, #6f80ff, #30ff79);;
}

.auth-avatar{
  &:hover{
    .auth-menu{
      display: block;
    }
  }
}

.auth-menu{
  display: none;
  position: absolute;
  background: white;
  top: 30px;
  right: 0px;
  width: 150px;
  padding: 10px !important;
}

.multi-select{
  width: 100%;
  .delete-svg{
    width: 10px;
    fill: red;
    margin-left: 4px;
  }
  .select-item{
    background: rgba(23, 187, 106, 0.58);
    display: flex;
    align-items: center;
    margin-right: 5px;
    padding: 2px 4px;
    border-radius: 4px;
  }

}

.each-post{
  margin: 5px10px;
  padding: 5px;
  .title{
    background: #d3dcff33;
    display: flex;
    align-items: center;
    padding: 2px 5px;
  }
  .para{
    padding: 0 5px;
    white-space: pre-line ;
  }
  svg{
    margin-right: 4px;
    width: 7px;
    fill: #595959;
  }
}