.flex{display: flex}
.hidden{display: none}
.block{display: block}
.items-center{align-items: center}
.justify-between{justify-content: space-between}
.relative{position: relative}


.input{
  width: 100%;
  box-sizing: border-box;
  outline: none;
  border: 1px solid #ababab6b;
  padding: 10px;
  margin: 7px 0px;
  color: #5b5b5b;
  border-radius: 5px;
}
.label{
  color: #5b5b5b;
  font-weight: 500;
}
.btn-disable {
  background: #a1a1a175 !important;
  pointer-events: none;
  color: #6c6c6c !important;
}