
.login-form{
  box-shadow: 0 2px 12px 0px rgb(128 128 128 / 29%);
  border-radius: 8px;
  max-width: 500px;
  margin: 100px auto;
  padding: 15px;
  input{
    width: 100%;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #ababab6b;
    padding: 10px;
    margin: 7px 0px;
    border-radius: 5px;
  }
}